#cuadro-1{
    background-color: blue;
    height: 300px;
}
#cuadro-2{
    background-color: red;
    height: 300px;
}
#cuadro-3{
    background-color: yellow;
    height: 300px;
}
#cuadro-4{
    background-color: green;
    height: 300px;
}

